In [10]:
import pandas as pd 
data = pd.read_csv('final4.csv')

In [43]:
x = list(data.columns)
y = ['Date','log_ret']
y = y+(x)


df = pd.DataFrame()
df['cols'] = y 
df = df[df.index != 16398]
df = df[df.index != 16386]


data = data[df['cols'].tolist()]
data.head()

,Date,log_ret,Unnamed: 0,0,1,10,100,1000,10000,10001,...,pct_change,count,edge_count,node_count,degree,transitivity,centrality,average_clustering,number_connected_components,density
0,2015-08-31 00:00:00,0.0,0,48.0,32.0,1.0,0.0,0.0,0.0,0.0,...,NaN,59,48,95,1.010526,0.0,0.568662,0.0,53,0.010750
1,2015-08-31 01:00:00,0.0,1,59.0,32.0,0.0,0.0,0.0,0.0,0.0,...,0.0,389,59,113,1.044248,0.0,0.580503,0.0,64,0.009324
2,2015-08-31 02:00:00,0.0,2,58.0,35.0,0.0,0.0,0.0,0.0,0.0,...,0.0,106,57,113,1.008850,0.0,0.594042,0.0,65,0.009008
3,2015-08-31 03:00:00,0.0,3,380.0,175.0,2.0,0.0,0.0,0.0,0.0,...,0.0,404,380,669,1.136024,0.0,0.632918,0.0,384,0.001701
4,2015-08-31 04:00:00,0.0,4,194.0,106.0,0.0,0.0,0.0,0.0,0.0,...,0.0,238,194,359,1.080780,0.0,0.665906,0.0,199,0.003019

In [4]:
data1 = data.sort_index(axis=1)

In [5]:
cols = data1.columns.tolist()

mydf = pd.DataFrame(cols)
mydf.to_csv('final9999.csv')

In [7]:
mylist = pd.read_csv('final9999.csv')['vals']

In [8]:
data2 = data[mylist]

In [32]:
# cols1 = data2.columns.tolist()

In [9]:
data2.head()

,0,0,1,10,100,1000,10000,10001,10002,10003,...,centrality,count,degree,density,edge_count,node_count,number_connected_components,pct_change,transitivity,log_ret
0,48.0,48.0,32.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.568662,59,1.010526,0.010750,48,95,53,NaN,0.0,0.0
1,59.0,59.0,32.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.580503,389,1.044248,0.009324,59,113,64,0.0,0.0,0.0
2,58.0,58.0,35.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.594042,106,1.008850,0.009008,57,113,65,0.0,0.0,0.0
3,380.0,380.0,175.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.632918,404,1.136024,0.001701,380,669,384,0.0,0.0,0.0
4,194.0,194.0,106.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.665906,238,1.080780,0.003019,194,359,199,0.0,0.0,0.0

In [41]:
data3 = data.as_matrix()

In [53]:
seq_len = 4
data5 = []
    
    # create all possible sequences of length seq_len
    
for index in range(len(data3) - seq_len): 
    data5.append(data3[index: index + seq_len])

In [ ]:
data6 = np.array(data5)

ValueError: No tables found

In [6]:
# convert series to supervised learning
from pandas import read_csv
from math import sqrt
from numpy import concatenate
from matplotlib import pyplot
from pandas import read_csv
from pandas import DataFrame
from pandas import concat
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import mean_squared_error

def series_to_supervised(data, n_in=1, n_out=1, dropnan=True):
	n_vars = 1 if type(data) is list else data.shape[1]
	df = DataFrame(data)
	cols, names = list(), list()
	# input sequence (t-n, ... t-1)
	for i in range(n_in, 0, -1):
		cols.append(df.shift(i))
		names += [('var%d(t-%d)' % (j+1, i)) for j in range(n_vars)]
	# forecast sequence (t, t+1, ... t+n)
	for i in range(0, n_out):
		cols.append(df.shift(-i))
		if i == 0:
			names += [('var%d(t)' % (j+1)) for j in range(n_vars)]
		else:
			names += [('var%d(t+%d)' % (j+1, i)) for j in range(n_vars)]
	# put it all together
	agg = concat(cols, axis=1)
	agg.columns = names
	# drop rows with NaN values
	if dropnan:
		agg.dropna(inplace=True)
	return agg
 
# load dataset
dataset = read_csv('testvals.csv', header=0, index_col=0)
values = dataset.values
# integer encode direction
encoder = LabelEncoder()
values[:,4] = encoder.fit_transform(values[:,4])
# ensure all data is float
values = values.astype('float32')
# normalize features
scaler = MinMaxScaler(feature_range=(-1, 1))
scaled = scaler.fit_transform(values)
# frame as supervised learning
reframed = series_to_supervised(scaled, 1, 1)
# drop columns we don't want to predict
reframed.drop(reframed.columns[[9,10,11,12,13,14,15]], axis=1, inplace=True)
print(reframed.head())

   var1(t-1)  var2(t-1)  var3(t-1)  var4(t-1)  var5(t-1)  var6(t-1)  \
1  -1.000000       -1.0   0.333333      -1.00        1.0  -0.496504
2  -0.777778        0.6   1.000000      -0.25       -1.0   1.000000
3  -0.592592       -1.0  -1.000000       0.25        1.0  -1.000000
4   1.000000        0.2  -0.333333       0.75        0.0   0.146853

   var7(t-1)  var8(t-1)   var1(t)
1       -1.0  -1.000000 -0.777778
2       -1.0  -0.333333 -0.592592
3       -1.0  -1.000000  1.000000
4        0.0  -1.000000 -0.185185

In [8]:
#len(list(dataset))
dataset

               pollution  dew   temp  pres wnd_dir  wnd_spd  snow   rain
date
1/2/2010 0:00        129   -16    -3  1020      SE     1.79      0     0
1/2/2010 1:00        135   -12    -1  1050      NE     2.86      0     1
1/2/2010 2:00        140   -16    -7  1070      SE     1.43      0     0
1/2/2010 3:00        183   -13    -5  1090      NW     2.25      1     0
1/2/2010 4:00        151   -11    -4  1100      NE     1.98      2     3