In [2]:
import pandas as pd 
import datetime

In [8]:
for k in range(1,51):
    base_str = 'C:\\Users\\raosa\\Dropbox\\data\\combined\\'
    data = pd.read_csv('C:\\Users\\raosa\\Dropbox\\dl-graph\\data\\eth\\pricing\\final.csv')
    x=pd.read_csv(str(base_str+str(k)+'.csv'))
    print('reading done')
    print(len(x))
    timestamp_list = x['timestamp']
    value_list = x['value']

    timestamp_list_1=[]
    value_list_1=[]
    print('loop starting')
    for i in  range(0,len(timestamp_list)):
        test1 = datetime.datetime.fromtimestamp(int(str(timestamp_list[i]),16))
        test2 = (int(x['value'][i],16))/1000000000000000000
        timestamp_list_1.append(test1)
        value_list_1.append(test2)
    print('loop done')
    x['timestamp1'] = timestamp_list_1
    x['value1'] = value_list_1


    x=x.drop(['timestamp','value'],axis=1)
    x = x.rename(columns={'timestamp1': 'timestamp', 'value1': 'value'})



    #     value_list = x['value']
    #     for i in range(0,len(x)): 
    #         x['timestamp1'] = datetime.datetime.fromtimestamp(int(str(x['timestamp'][i]),16))
    #         x['value1'][i] = int(x['value'][i],16)

    #     print('for loop done')
    x['timestamp'] = pd.to_datetime(x['timestamp'])
    # group by the number of transactions per hour 
    tran_counts = x.groupby([pd.Grouper(key='timestamp',freq='H')]).size().reset_index(name='count')
    print('groupby done')
    # convert to datetime object 
    data['Date'] = pd.to_datetime(data['Date'])
    # merge both datasets 
    y=pd.merge(tran_counts,data,left_on='timestamp',right_on='Date')
    y=y.drop(['timestamp','pct_change'],axis=1)
    y.to_csv(str('count_'+str(k)+'.csv'),index=False)
    print(k)
    print('_______________________')

reading done
26970
loop starting
loop done
groupby done
1
_______________________
reading done
116498
loop starting
loop done
groupby done
2
_______________________
reading done
119591
loop starting
loop done
groupby done
3
_______________________
reading done
129722
loop starting
loop done
groupby done
4
_______________________
reading done
133602
loop starting
loop done
groupby done
5
_______________________
reading done
162201
loop starting
loop done
groupby done
6
_______________________
reading done
168283
loop starting
loop done
groupby done
7
_______________________
reading done
248711
loop starting
loop done
groupby done
8
_______________________
reading done
253487
loop starting
loop done
groupby done
9
_______________________
reading done
336874
loop starting
loop done
groupby done
10
_______________________
reading done
388208
loop starting
loop done
groupby done
11
_______________________
reading done
520710
loop starting
loop done
groupby done
12
_______________________
reading done
558779
loop starting
loop done
groupby done
13
_______________________
reading done
558789
loop starting
loop done
groupby done
14
_______________________
reading done
640401
loop starting
loop done
groupby done
15
_______________________
reading done
750903
loop starting
loop done
groupby done
16
_______________________
reading done
699754
loop starting
loop done
groupby done
17
_______________________
reading done
807336
loop starting
loop done
groupby done
18
_______________________
reading done
655879
loop starting
loop done
groupby done
19
_______________________
reading done
802368
loop starting
loop done
groupby done
20
_______________________
reading done
740154
loop starting
loop done
groupby done
21
_______________________
reading done
768537
loop starting
loop done
groupby done
22
_______________________
reading done
793048
loop starting
loop done
groupby done
23
_______________________
reading done
737540
loop starting
loop done
groupby done
24
_______________________
reading done
679222
loop starting
loop done
groupby done
25
_______________________
reading done
691586
loop starting
loop done
groupby done
26
_______________________
reading done
741433
loop starting
loop done
groupby done
27
_______________________
reading done
689946
loop starting
loop done
groupby done
28
_______________________
reading done
721040
loop starting
loop done
groupby done
29
_______________________
reading done
742956
loop starting
loop done
groupby done
30
_______________________
reading done
753163
loop starting
loop done
groupby done
31
_______________________
reading done
811337
loop starting
loop done
groupby done
32
_______________________
reading done
917006
loop starting
loop done
groupby done
33
_______________________
reading done
1291131
loop starting
loop done
groupby done
34
_______________________
reading done
1498120
loop starting
loop done
groupby done
35
_______________________
reading done
1363469
loop starting
loop done
groupby done
36
_______________________
reading done
1917041
loop starting
loop done
groupby done
37
_______________________
reading done
2829746
loop starting
loop done
groupby done
38
_______________________
reading done
4309303
loop starting
loop done
groupby done
39
_______________________
reading done
5321357
loop starting
loop done
groupby done
40
_______________________
reading done
5394996
loop starting
loop done
groupby done
41
_______________________
reading done
8055067
loop starting
loop done
groupby done
42
_______________________
reading done
10546558
loop starting
loop done
groupby done
43
_______________________
reading done
10100672
loop starting
loop done
groupby done
44
_______________________
reading done
7780425
loop starting
loop done
groupby done
45
_______________________
reading done
7717814
loop starting
loop done
groupby done
46
_______________________
reading done
10680936
loop starting
loop done
groupby done
47
_______________________
reading done
15577277
loop starting
loop done
groupby done
48
_______________________
reading done
20050610
loop starting
loop done
groupby done
49
_______________________
reading done
17692247
loop starting
loop done
groupby done
50
_______________________

In [5]:
x.head()

,from,gas,gasprice,input,to,value,gas_used,miner,number,timestamp,timestamp1,value1
0,0x9ec68896801f3df3b971d9f4a7ce85a9908cfb6f,0x5208,0xba43b7400,0x,0xf90c74b5529e8f5ec2db930088b5d2c6a014ea43,0x55085a75caf09e000,0x1a1f8,0x2a65aca4d5fc5b5c859090a6c34d164135398226,0x19f0a1,0x575f649f,2016-06-13 21:57:51,9.803595e+12
1,0x412b8ff70dc878764256365cd6030189f8fdd794,0x59d8,0x4e3b29200,0x4c4f5452,0x7011f3edc7fa43c81440f9f43a6458174113b162,0xde0b6b3a7640000,0x1a1f8,0x2a65aca4d5fc5b5c859090a6c34d164135398226,0x19f0a1,0x575f649f,2016-06-13 21:57:51,1.000000e+11
2,0x9e6316f44baeeee5d41a1070516cc5fa47baf227,0x3d090,0x4a817c800,0x,0xb366820431fb72478df1f306c9b566d94975bd85,0xde0b6b3a7640000,0x1a1f8,0x2a65aca4d5fc5b5c859090a6c34d164135398226,0x19f0a1,0x575f649f,2016-06-13 21:57:51,1.000000e+11
3,0xea674fdde714fd979de3edf0f56aa9716b898ec8,0x15f90,0x4a817c800,0x,0x92e4596507168a736c9df4da3af5a6c52e64e54e,0x188569eda7cf0d4,0x1a1f8,0x2a65aca4d5fc5b5c859090a6c34d164135398226,0x19f0a1,0x575f649f,2016-06-13 21:57:51,1.104334e+10
4,0xea674fdde714fd979de3edf0f56aa9716b898ec8,0x15f90,0x4a817c800,0x,0x0c1f6cc98fe1a0f5c52a5e0464ffb9b93c7045a2,0xdfbef90d1d52d9c,0x1a1f8,0x2a65aca4d5fc5b5c859090a6c34d164135398226,0x19f0a1,0x575f649f,2016-06-13 21:57:51,1.007662e+11

   count                 Date  Close Price   log_ret
0     61  2015-09-07 17:00:00     1.220833 -0.023610
1    976  2015-09-07 18:00:00     1.243333  0.018262
2    288  2015-09-07 19:00:00     1.280000  0.029064
3    175  2015-09-07 20:00:00     1.280000  0.000000
4    312  2015-09-07 21:00:00     1.270000 -0.007843